.name {
  position: relative; /* Set relative positioning on the parent */
  height: 600px;
  width: 600px;
}

.div1 {
  position: absolute; /* Set absolute positioning on the first circle */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the circle */
  height: 500px;
  width: 500px;
  border-radius: 100%;
  animation : div1 9s linear infinite;
}
/* @keyframes div1{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
} */

.div2 {
  position: absolute; /* Set absolute positioning on the second circle */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the circle */
  height: 100px;
  width: 100px;
  border-radius: 100%;
  cursor: pointer;
}

img{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  cursor: pointer;
}

.img1{
  position: absolute;
  top:70%;
  left: 40%;
}
.img2{
  position: absolute;
  left: 65%;
  top: 58%;
}
.img3{
  position: absolute;
  left: 70%;
  top: 30%;
}
.img4{
  position: absolute;
  left: 50%;
  top: 10%;
}
.img5{
  position: absolute;
  top: 14%;
  left: 23%;
}
.img6{
  position: absolute;
  top: 35%;
  left: 10%;
}
.img7{
  position: absolute;
  top: 61%;
  left: 17%;
}